<form action="" [formGroup]="aulaGroup">
    <h2>Cadastrar nova turma</h2>
    <mat-form-field>
        <input matInput placeholder="Nome da materia" formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Código do curso</mat-label>
        <mat-select formControlName="curso">
            <mat-option *ngFor="let turma of turmas" [value]="turma.value">
                {{turma.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="complemento" formControlName="complemento">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addAula()"> Adicionar aula</button>
</form>


<div class="lista">
    <h2>Turmas de monitoria</h2>
    <mat-card style="margin-bottom: 1rem" *ngFor="let aula of todasAulas">
        <h3>{{aula.nome}}</h3>
        <h4>{{aula.curso}}</h4>
        <h4>{{aula.complemento}}</h4>
        <button mat-raised-button color="primary" (click)="editAula(aula.key)"> Editar</button>
        <button mat-raised-button color="warn" (click)="removeAula(aula.key)">Remover</button>
    </mat-card>
</div>