<form action="" [formGroup]="monitorGroup">
    <h2>Cadastrar novo monitor</h2>
    <mat-form-field>
        <input matInput placeholder="Nome do monitor" formControlName="nome">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Código do curso</mat-label>
        <mat-select formControlName="curso">
            <mat-option *ngFor="let turma of turmas" [value]="turma.value">
                {{turma.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="periodo" formControlName="periodo">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="cpf" formControlName="cpf">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="materia" formControlName="materia">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="complemento" formControlName="complemento">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addMonitor()"> Adicionar aula</button>
</form>


<div class="lista">
    <h2>Lista de monitores</h2>
    <mat-card style="margin-bottom: 1rem" *ngFor="let monitor of todosMonitores">
        <mat-card-title>{{monitor.nome}}</mat-card-title>
        <h4>{{monitor.curso}}</h4>
        <h4>{{monitor.periodo}}</h4>
        <h4>{{monitor.cpf}}</h4>
        <h4>{{monitor.materia}}</h4>
        <small>{{monitor.key}}</small>
        <button mat-raised-button color="primary" (click)="editMonitor(monitor.key)" >Editar</button>
        <button mat-raised-button color="warn" (click)="removeMonitor(monitor.key)" >Excluir</button>
    </mat-card>
</div>